main {
background-color: #BFD6F7;
}

body {
  background-color: #BFD6F7;
}

  header {
    background-color: #15396B;
    padding: 10px 0px 10px 0px;
    color: white;
}

h1 {
  font-family: 'Meta Serif Pro Bold'; 
    font-size: 60px;
    text-align: center;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push {
    margin-right: auto;
}

button {
    font-family: 'bilo', sans-serif;
    padding: 8px;
    margin: 0px 3px;
    border: 2px solid #B797D2;
    border-radius: 10px;
    background-color: #BFD6F7;
}

button:hover {
  background-color: #B797D2;
  color: white;
}

button:active {
  background-color: #BFD6F7;
  box-shadow: 0 2px #15396B;
  transform: translateY(4px);
}

h1 {
    letter-spacing: 1px;
    font-size: 48px ;
    text-align: left;
}

/* Slider */

.button-one-section {
    background-color: #B797D2;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  
  .slider {
    width: 1500px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex; 
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
 .slides::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  } 

  .slides::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  } 

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 410px;
    height: 410px;
    margin-right: 50px;
    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }



/* HTML PAGE */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  background-color: #15396B;
  padding: 15px;
}

.grid-container > div {
  background-color: #B797D2;
  text-align: center;
  padding: 15px 15px;
  font-size: 24px;
  font-family: 'bilo' , sans-serif;
}


/* footer */

footer {
  background-color: #15396B;
  color: white;
  font-family: 'bilo', 'sans-serif';
  text-align: center;
  padding: 1px;
}