/* Global styles */

body {
background-color: #BFD6F7;
}


header {
    background-color: #15396B;
    padding: 5px 40px 40px 10px;
    color: white;
    text-align: center;
    font-family: 'Meta Serif Pro Bold';

}

h1 {
    letter-spacing: 1px;
    font-size: 48px ;
    text-align: left;
}

button {
    background-color:  #BFD6F7;
    padding: 12px;
    margin: 8px; 
    
    font-family: 'bilo', sans-serif;
    font-size: 18px ;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

footer {
    background-color: #15396B;
    color: white;
    text-align: center;
    font-family: 'bilo', sans-serif;
    padding: 1px 1px 1px 1px;
}



/* Slider */


.button-one-section {
    background-color: #15396B;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  
  .slider {
    width: 800px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex; 
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
 .slides::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  } 

  .slides::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  } 

  .slides > div {
    border: 4px solid black;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 600px;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .slides > div:target {
  /*   transform: scale(0.8); */
  }